program = { env = "AUREUM_TEST_EXEC" }

expected_stderr = ""
expected_exit_code = 0


[tests.single-file]
program_arguments = ["--show-all-tests", "helpers/dir1/test1.toml"]
expected_stdout = """
Running 1 tests:
.

✅ helpers/dir1/test1.toml

Test result: OK (1 passed, 0 failed)
"""


[tests.single-dir]
program_arguments = ["--show-all-tests", "helpers/dir1/*.toml"]
expected_stdout = """
Running 2 tests:
..

✅ helpers/dir1/test1.toml
✅ helpers/dir1/test2.toml

Test result: OK (2 passed, 0 failed)
"""


[tests.multiple-dirs]
program_arguments = [
  "--show-all-tests",
  "helpers/dir1/*.toml",
  "helpers/dir2/*.toml",
  "helpers/dir1/*.toml", # This argument is redundant, but it tests that the paths are deduplicated.
]
expected_stdout = """
Running 4 tests:
....

✅ helpers/dir1/test1.toml
✅ helpers/dir1/test2.toml
✅ helpers/dir2/test1.toml
✅ helpers/dir2/test2.toml

Test result: OK (4 passed, 0 failed)
"""


[tests.multiple-files]
program_arguments = [
  "--show-all-tests",
  "helpers/dir1/test1.toml",
  "helpers/dir1/test2.toml",
]
expected_stdout = """
Running 2 tests:
..

✅ helpers/dir1/test1.toml
✅ helpers/dir1/test2.toml

Test result: OK (2 passed, 0 failed)
"""
